/* Posts page */
.padding th,
.padding td {
  padding: 1rem;
}

.s-li {
  text-align: center;

  width: 5rem;
}

/* Login page */
#login { 
  align-items: center;

  display: flex;

  justify-content: center;

  height: 100vh;
}

#or {
  position: relative;
}

#or p {
  background-color: #FFFFFF;

  position: absolute;

  left: calc(50% - 50px);

  margin: 0;

  text-align: center;

  top: 3px;

  width: 100px;

  z-index: 2;
}